#chat-panel {
  width: calc(100vw / 3);
  border-right: 1px solid var(--border-color);
}

#user-panel {
  background-color: var(--light-bg-color);
  border-bottom: 1px solid var(--border-color);
}

#chat-list-header {
  font-weight: 400;
  color: var(--header-color);
  padding-left: var(--pane-padding);
}