#app {
  display: flex;
}

#app main {
  height: 100vh;
  border-right: 1px solid var(--border-color);
}

#app main:nth-last-of-type(1) {
  border-right: none;
}


.profile-picture {
  width: var(--thumbnail-size);
  height: var(--thumbnail-size);
  border-radius: 50%;
}

.message-text {
  font-size: 0.95rem;
}

input:focus {
  outline: 1px solid var(--muted-text-color);
}


#main-pannel {
  flex-basis: calc(100vw / 3 * 1);
}

#right-pannel {
  flex-basis: calc(100vw / 3 * 2);
  display: flex;
  flex-direction: column;
}

#right-pannel .profile-info {
  background-color: var(--light-bg-color);
  border-bottom: 1px solid var(--border-color);
}

#user-pannel {
  background-color: var(--light-bg-color);
  border-bottom: 1px solid var(--border-color);
}

#chats-header {
  font-weight: 400;
  color: var(--header-color);
  padding-left: var(--pane-padding);
}