#message-list {
  height: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: var(--pane-padding);
  display: flex;
  flex-direction: column;
  background-color: var(--msg-block-bg);
  overflow: auto;
  height: calc(100vh - (72 + 30 + 1 + 80 + 30));
}