#app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#app main {
  height: 100vh;
}

#app .loading {
  align-self: center;
  justify-self: center;
  margin: auto;
}

.status-overlay {
  position: relative;
}

.status-overlay::after {
  content: var(--online-icon);
  position: absolute;
  top: calc(var(--thumbnail-size) - var(--online-icon-size));
  left: calc(var(--thumbnail-size) - var(--online-icon-size));
}

.message-text {
  font-size: 0.95rem;
}

input:focus {
  outline: 1px solid var(--muted-text-color);
}