.message {
  margin-bottom: var(--pane-padding);
  align-self: flex-start;
}

.message .message-text {
  border-radius: 2em;
  padding: var(--pane-padding);
  background-color: var(--msg-primary-bg);
  color: var(--msg-primary-text);
}

.message .message-date {
  margin-top: 5px;
  padding-left: var(--pane-padding);
  font-size: 0.8em;
  color: var(--muted-text-color)
}

.message.you {
  align-self: flex-end;
  text-align: right;
}
.message.you .message-text {
  background-color: var(--msg-secondary-bg);
  color: var(--msg-secondary-text);
}